.chat-container {
  display: flex;
  flex-direction: row;
  margin-left: 240px;
  margin-top: 55px;
  height: 700px;
  width: 500px;
}

.accordion {
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  position: fixed;
  width: 240px;
  height: 100%;
  overflow: scroll;
}

.chat-drp::before {
  background-image: none !important;
}

.list-active {
  color: rgb(85, 2, 219) !important;
  border-left: 5px solid rgb(85, 2, 219);
}

.x-icon {
  color: rgb(85, 2, 219);
  position: absolute;
  right: 21px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.x-icon:hover {
  color: rgb(130, 53, 253);
}

.accordion-button:hover .x-icon {
  visibility: visible;
  opacity: 1;
}

.side-shrink {
  margin-left: 52px;
}
