.accordion {
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  position: fixed;
  top: 55px;
  left: 240px;
  height: 100%;
  width: 240px;
  overflow: scroll;
}

.chat-drp::before {
  background-image: none !important;
}
