.group-container {
  display: flex;
  flex-direction: row;
  margin-left: 240px;
  margin-top: 55px;
  height: 700px;
  width: 500px;
}

.accordion {
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  position: relative;
  //top: 55px;
  //left: 240px;
  //height: 100%;
  width: 240px;
  overflow: scroll;
  z-index: 1;
}

.accordion-item {
  position: relative !important;
}

.accordion-button:hover + .btn-group-item {
  transition: opacity 500ms linear !important;
  opacity: 1;
  color: #5502db;
}

.btn-group-item:hover {
  transition: opacity 500ms linear !important;
  opacity: 1;
  color: rgb(130, 53, 253);
}

.btn-group-item {
  position: absolute;
  //visibility: hidden;
  opacity: 0;
  width: 0%;
  height: 0%;
  //transition: all 500ms ease-in-out !important;
  transition: opacity 100ms linear !important;
  border: none;
  font-size: 0.5em;
  top: 15px;
  right: -20px;
  z-index: 3;
}

.ellipsis-icon {
  right: 39px;
  position: absolute;
}

.btn-group-item.clicked {
  opacity: 1;
  visibility: visible;
  color: #5502db;
  transition: visibility 0s, opacity 100ms linear !important;
  background-color: rgb(255, 255, 255);
}

.btn-group-item:hover {
  color: #5502db;
}

.group-menu.open {
  display: block;
  z-index: 30;
}

.group-menu {
  /* height: 90px; */
  width: 111px;
  position: absolute;
  padding: 10px 20px;
  background: #fff;
  top: 45px;
  left: 100px;
  z-index: 2;
  visibility: visible;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  display: none;
}

.group-menu div {
  padding: 12px 20px;
  cursor: pointer;
  color: rgb(119, 119, 119);
}

.group-menu div:hover {
  background-color: rgb(216, 216, 216);
  color: #5502db;
}

.blocker {
  display: none;
}

.activate {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  //background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.accordion-body {
  background-color: #f7f7f7;
  padding: 0;
  & .sub-menu {
    padding: 0;
    margin-top: -5px;
    margin-bottom: 0;
    list-style-type: none;
    & li {
      padding: 5px;
      &:hover {
        border-left: 3px solid rgb(85, 2, 219);
        & a {
          color: #5502db;
        }
      }
    }
    & a {
      color: rgb(0, 0, 0);
      font-size: 15px;
      padding: 5px 0;
      text-decoration: none;
      margin-left: 26px;
    }
  }
}
