<div [class.side-shrink]="toggleNav" class="group-container">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Accordion Item #1 
        </button>
        <button (click)="showGroupMenu(groupmenu, btngrItem);" #btngrItem class="btn-group-item"><fa-icon class="ellipsis-icon" [icon]="faEllipsisH"></fa-icon></button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <ul class="sub-menu">
            <li><a (click)="navigateToChannel(1);">Web Design</a></li>
            <li><a (click)="navigateToChannel(2);">Card Design</a></li>
            <li><a (click)="navigateToChannel(3);">Login Form</a></li>
          </ul>
        </div>
      </div>
      <div #groupmenu class="group-menu"> 
        <div (click)="showAddUser(adduser);hideGroupMenu()"><fa-icon id="creategr-icon" [icon]="faFriends"></fa-icon> Add user </div>
        <div><fa-icon id="join-icon" [icon]="faArrowAltCircleRight"></fa-icon> Add channel1</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Accordion Item #2
        </button>
        <button (click)="showGroupMenu(groupmenu2, btngrItem2)" #btngrItem2 class="btn-group-item"><fa-icon class="ellipsis-icon" [icon]="faEllipsisH"></fa-icon></button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <ul class="sub-menu">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Card Design</a></li>
            <li><a href="#">Login Form</a></li>
          </ul>
        </div>
      </div>
      <div #groupmenu2 class="group-menu"> 
        <div><fa-icon id="creategr-icon" [icon]="faFriends"></fa-icon> Add user </div>
        <div><fa-icon id="join-icon" [icon]="faArrowAltCircleRight"></fa-icon> Add channel2</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <ul class="sub-menu">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Card Design</a></li>
            <li><a href="#">Login Form</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div #blocker class="blocker" (click)="hideGroupMenu();hideAddUser(adduser);"></div>

    <div #adduser class="add-user">
      <div class="add-user-form">
        <form>
          <div class="mb-4">
            <legend class="mb-3">Search for an user</legend>
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="d-grid gap-2 col-8 mx-auto">
            <button class="btn btn-primary" type="button" (click)="hideAddUser(adduser)">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
