.side-nav {
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  position: fixed;
  top: 55px;
  left: 0;
  height: 100%;
  width: 240px;
  z-index: 3;
}

.side-nav ul li a {
  color: rgb(119, 119, 119);
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}

.side-nav ul li a fa-icon {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.side-nav ul li a:hover {
  color: rgb(85, 2, 219);
  background: rgb(226, 226, 226);
  border-left: 5px solid rgb(85, 2, 219);
}

.list-active {
  color: rgb(85, 2, 219) !important;
  border-left: 5px solid rgb(85, 2, 219);
}

#groups:hover #btn-add-group {
  visibility: visible;
  opacity: 1;
}

.group-item #btn-add-group {
  margin-left: 56px;
  display: inline-block;
  width: 30px;
  height: 25px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  border: none;
}

.group-item #group-plus-icon {
  position: absolute;
  top: -13px;
  right: -10px;
  color: #5502db;
  background-color: rgb(226, 226, 226);
}

.group-item #group-plus-icon:hover {
  background-color: rgb(216, 216, 216);
}

.group-menu.open {
  display: block;
  z-index: 30;
}

.group-menu {
  /* height: 90px; */
  width: 111px;
  position: absolute;
  padding: 10px 20px;
  background: #fff;
  top: 59px;
  left: 124px;
  z-index: 2;
  visibility: visible;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  display: none;
}

.group-menu div {
  padding: 12px 20px;
  cursor: pointer;
  color: rgb(119, 119, 119);
}

.group-menu div:hover {
  background-color: rgb(216, 216, 216);
  color: #5502db;
}

#chat:hover #btn-add-chat {
  visibility: visible;
  opacity: 1;
}

.chat-item #btn-add-chat {
  margin-left: 75px;
  display: inline-block;
  width: 30px;
  height: 25px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  border: none;
}

.chat-item #chat-plus-icon {
  position: absolute;
  top: -13px;
  right: -10px;
  color: #5502db;
  background-color: rgb(226, 226, 226);
}

.chat-item #chat-plus-icon:hover {
  background-color: rgb(216, 216, 216);
}

.blocker {
  display: none;
}

.activate {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  //background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.activate-darker {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.blocker-side {
  display: none;
}

.side-activate {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

#join-icon {
  width: 20px;
  height: 20px;
}

.create-group.open {
  display: block;
  z-index: 30;
}

.create-group {
  /* height: 90px; */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 10px 20px;
  background: #fff;
  z-index: 2;
  visibility: visible;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  display: none;
}

.create-group-form {
  border-radius: 5px;
  padding: 20px 20px 25px 20px;
}

.chat-to-user.open {
  display: block;
  z-index: 30;
}

.chat-to-user {
  /* height: 90px; */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 10px 20px;
  background: #fff;
  z-index: 2;
  visibility: visible;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  display: none;
}

.chat-to-user-form {
  border-radius: 5px;
  padding: 20px 20px 25px 20px;
}

.side-shrink {
  width: 52px;
}
