.side-nav {
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  position: fixed;
  top: 55px;
  left: 0;
  height: 100%;
  width: 240px;
  z-index: 3;
}

.side-nav ul li a {
  color: rgb(119, 119, 119);
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}

.side-nav ul li a fa-icon {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.side-nav ul li a:hover {
  color: rgb(85, 2, 219);
  background: rgb(226, 226, 226);
  border-left: 5px solid rgb(85, 2, 219);
}

.list-active {
  color: rgb(85, 2, 219) !important;
  border-left: 5px solid rgb(85, 2, 219);
}

#groups:hover #btn-add-group {
  visibility: visible;
  opacity: 1;
}

#btn-add-group {
  margin-left: 56px;
  display: inline-block;
  width: 30px;
  height: 25px;
  position: absolute;
  right: 26px;
  top: 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  border: none;
}

#plus-icon {
  position: absolute;
  top: -13px;
  right: -10px;
  color: #5502db;
  background-color: rgb(226, 226, 226);
}

#plus-icon:hover {
  background-color: rgb(216, 216, 216);
}

.group-menu {
  /* height: 90px; */
  width: 109px;
  position: fixed;
  padding: 10px 20px;
  background: #fff;
  top: 114px;
  left: 192px;
  z-index: 2;
  visibility: hidden;
}
