<div id="login-container">
  <div id="login-form" class="container" #logform @markedState> 
    <form>
      <div class="mb-4">
        <legend class="mb-3">Welcome back!</legend>
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-1">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-4">
        <label id="forgot-pwd">Forgot password?</label>
      </div>
      <div class="d-grid gap-2 col-8 mx-auto">
        <button class="btn btn-primary" type="button" (click)="confirmLogin()">Login</button>
      </div>
    </form>
  </div>
  <div @markedState class="mx-auto">
    <p>Need an account? <span id="register-link" (click)="registerForm(logform)">Register here</span></p>
  </div>
</div>
