/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
}

//custom colors

$theme-colors: (
  "success": rgb(182, 61, 45),
  "primary": rgb(9, 94, 252),
);

//import the functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

/*
.btn-outline-success:hover {
  background-color: #8064a2 !important;
}
*/

.accordion-button {
  transition: all 0.4s ease !important;
  padding: 1rem 1.9rem !important;
}
.accordion-button:not(.collapsed) {
  color: rgb(85, 2, 219) !important;
  background-color: rgb(255, 255, 255) !important;
}

.accordion-button:focus {
  z-index: 3 !important;
  outline: 0;
  //box-shadow: 0 0 0 0.15rem rgb(85, 2, 219) !important;
  box-shadow: none !important;
}

.accordion-button:hover {
  border-left: 5px solid rgb(85, 2, 219) !important;
  background-color: rgb(226, 226, 226) !important;
}

.accordion-button::after {
  background-image: none !important;
}

.accordion-button::before {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 5px;
  flex-shrink: 0;
  width: 0rem;
  height: 0rem;
  margin-left: auto;
  content: "";
  border: 5px solid rgb(226, 226, 226);
  border-left-color: rgb(85, 2, 219);
  background-image: none !important;
  background-repeat: no-repeat;
  background-size: 1rem;
}

.accordion-button:hover::before {
  //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  visibility: visible;
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.5s linear;
}

.accordion-button:not(.collapsed)::before {
  //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-image: none !important;
  transform: rotate(90deg);
}

@import "../node_modules/bootstrap/scss/bootstrap";
