/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
}

//custom colors

$theme-colors: (
  "success": rgb(182, 61, 45),
  "primary": rgb(9, 94, 252),
);

//import the functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

/*
.btn-outline-success:hover {
  background-color: #8064a2 !important;
}
*/

.accordion-button {
  transition: all 0.4s ease !important;
}
.accordion-button:not(.collapsed) {
  color: rgb(85, 2, 219) !important;
  background-color: rgb(226, 226, 226) !important;
}

.accordion-button:focus {
  z-index: 3 !important;
  outline: 0;
  //box-shadow: 0 0 0 0.15rem rgb(85, 2, 219) !important;
  box-shadow: none !important;
}

.accordion-button:hover {
  border-left: 5px solid rgb(85, 2, 219) !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";
